nav {
    display: flex;
    width: 70vw;
    margin: 53px auto 60px auto;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(160, 155, 155);
}

nav .logo {
    cursor: pointer;
}

.pattern {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -99;
}

.modal .next {
    background: var(--black);
    cursor: pointer;
    width: 25em;
    height: 3.5em;
    margin: 33px auto 0 auto;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    border: 0;
}

.footerP {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 23px;
}

.privacy {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0px;
    text-align: center;
}

.privacy a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.4);
}
.footer {
    margin: 14px auto 0 auto;
    display: flex;
    gap: .86em;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.footer p {
    color: rgba(0, 0, 0, 0.4);
}