.sellerContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.sellerProfile {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profiless {
    width: 13.375rem;
    height: 13.375rem;
}

.profiless > input {
    display: none;
}

.profilepic {
    border-radius: 100%;
    width: 13.375rem;
    height: 13.375rem;
}

.descriptions {
    width: 75%;
}

.profileDesc {
    width: 90%;
    color: #000;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userName {
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.4375rem; /* 137.5% */
    text-transform: capitalize;
}

.profiles {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.profileText {
    color: rgba(0, 0, 0, 0.40);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
}

.title{
    font-size: 3.125em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 81px;
}

.section2 .sellercategory{
    font-size: 1em;
    width: 100%;
}

.section2 .sellercategory .sellerproducts p{
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.section2 .filter{
    width: 92px;
    height: 32px;
    padding: 5px, 15px, 5px, 15px;
    gap: 4px;
    background: rgba(30, 40, 50, 1);
    color: white;
    border: none;
    text-align: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-auto-rows: 480px;
    grid-gap: 20px;
    margin: 35px;
}

.grid-item p {
    margin-top: 18px;
    font-family: Open Sans;
}
.grid-item .name-price {
    display: flex;
    justify-content: space-between;
}

.grid-item .productName {
    font-weight: bold;
}

.grid-item .name {
    color: rgba(0, 0, 0, 0.5);
}

.grid-item .price {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}