@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: rgba(255, 111, 97, 1);
    --black: rgba(30, 40, 50, 1);
    --white: rgba(255, 255, 255, 1);
}

.edith1 {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
}

.picture {
    position: relative;
}

.picture .editicon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.picture .editicon:hover {
    transform: scale(1.1);
}

