.disabled {
    display: none;
}

.search {
    display: flex;
}

.searchIcon {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 200px;
    align-self: center;
}

.account {
    cursor: pointer;
    width: 200px;
}

.shopping{
    cursor: pointer;
}

.searchBtn{
    display: flex;
    background: rgba(30, 40, 50, 1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    gap: 8px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
}

#searchBar {
    position: absolute;
    left: 320px;
    transform: translateY(3px);
    height: 30px;
    padding: 5px;
}

.section1 {
    background: rgba(30, 40, 50, 0.05);
    height: 85vh;
    font-family: Open Sans;
}

.section1 .logo{
    font-size: 28px;
    cursor: pointer;
}

nav .account {
    display: flex;
    justify-content: center;
}

.account .accicon {
    padding-right: 5px;
}

.account .shoppingicon {
    padding-right: 5px;
}

nav button{
    border: none;
    background: none;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 10px;
}

nav {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid rgb(160, 155, 155);
}

nav .logo {
    color: black;
    font-family: serif;
    font-size: 1.75rem;
}

menu {
    display: flex;
    width: 70vw;
    margin: 53px auto 60px auto;
    justify-content: space-around;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

menu a {
    text-decoration: none; 
    color: black;
    text-align: center;
    display: flex;
}

.landing {
    display: flex;
    margin: 0 auto;
    width: 70vw;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.landing h1 {
    font-size: 4.625em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
}

.landing h3 {
    font-size: 1.875em;
    margin: 50px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: initial;
    /*gawa ni Jhude*/
    margin-right: 200px;
}

.landing .left-side {
    margin: 100px 0;
}

.left-side .shopnowbtn{
    display: flex;
}

.shopnowbtn .btn{
    display: flex;
    background: rgba(30, 40, 50, 1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    gap: 8px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;

}

.shopnowbtn .shopnowicon{
    display: flex;
    text-align: center;

}

.section2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
    margin:auto;
    justify-content: center;
}

.title{
    font-size: 3.125em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 81px;
}

.section2 .category{
    display: flex ;
    font-size: 1em;
    justify-content: space-between;
}


.section2 .category .products a{
    padding: 0 10px;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.section2 .category .filter {
    display: flex;
    justify-content: center;
    background-color: rgba(30, 40, 50, 1);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 11px;
    width: 5.75rem;
    height: 2rem;
}

.section2 .filterbtn{
    display: flex;
    align-items: center;
    background-color: rgba(30, 40, 50, 1);
    color: white;
    border: none;
    cursor: pointer;
}

.section2 .filtericon{
    display: flex;
    padding-right: 3px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-auto-rows: 480px;
    grid-gap: 20px;
    margin: 35px;
    justify-content: center;
}

.grid-item:hover {
    cursor: pointer;
}

.grid-item p {
    margin-top: 18px;
    font-family: Open Sans;
}
.grid-item .name-price {
    display: flex;
    justify-content: space-between;
}

.grid-item .productName {
    font-weight: bold;
}

.grid-item .name {
    color: rgba(0, 0, 0, 0.5);
}

.grid-item .price {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.grid-item .price:hover {
    color:chocolate;
}

.grid-item .picture{
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
    width: 20rem;
    height: 25rem;
}

.grid-item .picture img {
    max-width: 80%;
    max-height: 80%;
}

.section3 {
    width: 70%;
    margin: 220px auto;
}

.section3 .grid-containers {
    display: grid;
    grid-template-columns: 400px 200px 200px 250px;
    grid-template-rows: 220px;
    grid-gap: 35px;
}

.section3 .grid-items p {
    margin: 0 0 75px 0;
}

.section3 .grid-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3 .grid-items a {
    text-decoration: none;
    color: black;
    
}

.section3 .grid-items .catalog {
    margin-bottom: 12px;
}

.grid-items {
    font-family: Open Sans;
}

 

footer {
    background: rgba(30, 40, 50, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 2vh;
    align-items: center;
    padding: 0 50px;
}

footer a {
    color: white;
    text-decoration: none;
}



