@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Open+Sans&family=Roboto:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: rgba(255, 111, 97, 1);
    --black: rgba(30, 40, 50, 1);
    --white: rgba(255, 255, 255, 1);
}

.edith1 {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.containerr .picture {
    width: 26.375rem;
    height: 26.375rem;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
}

.containerr .picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 50px;
}

.picture .editicon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.picture .editicon:hover {
    transform: scale(1.1);
}

.sellerContainer .sellerProfile .descriptions .profiles {
    display: flex;
    justify-content: space-between;
}

.sellerContainer .sellerProfile .profiless {
    position: relative;
}

.sellerContainer .sellerProfile .descriptions h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sellerContainer .sellerProfile .profiless .sellerediticon {
    position: absolute;
    bottom: 2rem;
    right: .8rem;
    background: white;
    border: 1px rgb(136, 135, 135) solid;
    border-radius: 100%;
    cursor: pointer;
}

.sellerContainer .sellerProfile .profiless .sellerediticon:hover {
    transform: scale(1.1);
}

.descriptions .profiles {
    display: flex;
    flex-direction: column
}

.descriptions .profiles .profileinput {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
    border: none;
}

.descriptions .profiles .profileinput label {
    margin-right: 35px;
    font-size: large;
    font-family: 'Open-Sans', sans-serif;
    color: #00000066;
    padding-top: 20px; 
    padding-left: 5px;
    text-align: center;
}

.descriptions .profiles .profileinput .inputprofileDesc{
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: 'Open-Sans', sans-serif;
    font-size: large;
    width: 40rem;
    resize: vertical;
    overflow: hidden;
}


::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.descriptions .profiles .profileemail {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.descriptions .profiles .profileemail label {
    margin-right: 46px;
    font-size: large;
    font-family: 'Open-Sans', sans-serif;
    color: #00000066;
    text-align: center;
    padding: 5px;
}

.descriptions .profiles .profileemail .emailDesc{
    padding: 5px;
    font-family: 'Open-Sans', sans-serif;
    font-size: large
}

.editsellerproducts {
    display: flex;
    justify-content: space-between;
}

.editsellerproducts a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding-left: 35px;
}

.editsellerproducts button {
    padding: 0.5rem 1.3rem;
    background: #1E2832;
    color: white;
    border: none;
    border-radius: 5px;
}

.containerr .description h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.containerr .description .inputname  {
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 5px;
    margin-top: 5px;
}

.description .pricecontainer {
    display: flex;
    align-items: center;
    background-color: #F4F4F5;
    width: 27.5rem;
    height: 5.25rem;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
}

.description .pricelabel {
    font-size: 1.875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-right: 10px;
}

.description .price {
    font-size: 1.875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 10px;
    width: 20rem;
    border-radius: 3px;
    border: none;
}

.description .desc {
    margin-top: 25px;
    align-items: center;
}

.description .desc .descTitle {
    color: rgba(0, 0, 0, 0.40);
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    margin-right: 20px;
}

.description .desc .descText {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; 
    width: 20rem;
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-size: medium;
}

.description .category .descText {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; 
    width: 20rem;
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-size: medium;
}

.description .category {
    margin-top: 28px;
    align-items: center;
}

.description .category .descTitle{
    color: rgba(0, 0, 0, 0.40);
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    margin-right: 20px;
}

.description .quantity .quantityItem .descTitle{
    color: rgba(0, 0, 0, 0.40);
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    margin-right: 20px;
}

.description .quantity .stocks .stocksdesc{
    color: rgba(0, 0, 0, 0.40);
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    margin-right: 20px;
}

.description .category .ddcategory {
    width: 20rem;
    border-radius: 3px;
    font-size: medium;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; 
    padding: 5px;
    border: 1px solid black;
}

.description .editquantity {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.description .editquantity .stocksdesc{
    color: rgba(0, 0, 0, 0.40);
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    width: 7.3rem;
}

.description .editquantity .stockinput {
    width: 20rem;
    border-radius: 3px;
    font-size: medium;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; 
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.savedeleteButton {
    display: flex;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 60px;
}

.saveChanges {
    display: inline-flex;
    width: 12rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background: var(--Black, #1E2832);
    color: white;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-right: 50px;
    border-radius: 3px;
}

.deleteItem {
    display: inline-flex;
    width: 12rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background: var(--white, #1E2832);
    color: black;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border-radius: 3px;
}

/*Landing*/

.landing .right-side{
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #f0f0f0;
    width: 27.625rem;
    height: 35.125rem;
}

.landing .right-side img {
    max-width: 100%;
    max-height: 100%;
}

/*Footer*/

.containerr .description .quantity {
    display: flex;
    place-content: start;
}

.containerr .description .quantity .quantityItem {
    margin-right: 100px;
}

.containerr .description .quantity .stocks {
    align-items: center;
}

